#Impact-Logo {
  width: 10%;
}

#Impact-Title {
  width: 90%;
  font-size: 27px;
}

.titlebar {
  margin: auto;
  border-bottom: 2px solid black;
  display: inline-flex;
  width: 100%;
  text-align: center;
}

.header-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height:50px;
}

.app-container{
  position: absolute;
  top: 51px;
}


.footer-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
}
