<div height="100%" width="100%" class="single-card">
  <div class="dx-card content">
    <div class="header">
      <div class="logo-image">
        <img src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Logos%2FImpact-Logo_Black.png?alt=media&token=2a2452b7-a337-476f-b268-d0a4b0fa5d42" height="auto" width="80%">
      </div>
      <div class="title">{{title}}</div>
      <div class="description">{{description}}</div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
